{{- /*
  Create this Secret if certProvisionMode is "auto" (default).
  This allows the operator to auto-generate webhook TLS certs at startup.
*/ -}}
{{- if ne (.Values.config.server.webhooks.certProvisionMode | default "auto") "manual" }}
---
apiVersion: v1
kind: Secret
metadata:
  name: grove-webhook-server-cert
  namespace: {{ .Release.Namespace }}
  labels:
{{- include "operator.server.secret.labels" . | nindent 4 }}
type: kubernetes.io/tls
data:
  tls.crt: ""
  tls.key: ""
{{- end }}
